.header-wrap .landing-logo img, .footer-wrap .footer_logo img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0px;
  font-family: "Source Sans Pro", sans-serif;
  background-color: white;
}

.header {
  background-image: url(../img/m-h-day.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  border-bottom-right-radius: 40%;
}
.header-wrap {
  padding: 1% 0% 0% 10%;
  max-width: 500px;
}
.header-wrap .landing-logo {
  display: flex;
  font-family: "Hind", sans-serif;
}
.header-wrap .landing-logo p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0% 0% 0% 2%;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
  color: #2c2f3c;
}
.header-wrap .landing-logo p span {
  font-weight: normal;
  font-size: 0.6em;
  letter-spacing: normal;
}
.header-wrap .header_heading {
  position: relative;
  z-index: 1;
  margin: 0.7em 0px 0.4em 0px;
  font-size: 3.5em;
  font-weight: bold;
  line-height: 1;
  color: #2c2f3c;
}
.header-wrap .header_heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  height: 40px;
  width: 235px;
  background-color: #14a0c7;
}
.header-wrap .header_text {
  white-space: pre-line;
  font-size: 0.8em;
  line-height: 1.5;
  color: #2c2f3c;
  font-family: "Hind", sans-serif;
}
.header-wrap > div:last-child {
  margin-top: 8%;
  position: relative;
}
.header-wrap > div:last-child .header_button {
  border: transparent;
  border-radius: 2px;
  padding: 10px 30px;
  background-color: #699900;
  font-weight: bold;
  color: white;
}
.header-wrap > div:last-child .login {
  position: absolute;
  right: 120px;
  top: 10px;
  color: white;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section_text {
  position: relative;
  font-size: 2em;
  font-weight: 600;
  color: #2c2f3c;
}
.section_text::before {
  content: "";
  position: absolute;
  right: 10px;
  z-index: -1;
  height: 35px;
  width: 144px;
  background-color: #14a0c7;
}
.section_card_wrap {
  margin: 0 15%;
}
.section_card {
  display: flex;
  background-color: #21232e;
  border-radius: 7px;
  margin-bottom: 15px;
  padding: 15px;
}
.section_card img {
  height: auto;
  width: 100%;
  border-radius: 7px;
}
.section_card_right_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section_card_right_container .section_card_heading {
  font-weight: bold;
  font-size: 1.1em;
  color: white;
}
.section_card_right_container .section_card_text {
  text-align: justify;
  font-family: "Hind", sans-serif;
  font-size: 0.9em;
  color: #bbbec9;
  margin: 1em 70px 1em 70px;
}
.section_card_right_container .section_link {
  color: #bbbec9;
}
.section_banner {
  display: flex;
  justify-content: space-around;
  min-width: 75vw;
  margin-top: 80px;
  margin-bottom: -50px;
  z-index: 1;
  border-radius: 7px;
  background: linear-gradient(90deg, #669609 0%, #2e5cd4 100%);
}
.section_banner_text_wrap {
  position: relative;
  margin-bottom: 20px;
}
.section_banner_text_wrap::before {
  content: "";
  position: absolute;
  left: 97px;
  top: 15px;
  z-index: -1;
  height: 40px;
  width: 50px;
  background-color: #14a0c7;
}
.section_banner_heading {
  position: relative;
  font-size: 1.5em;
  font-weight: bold;
  color: #2c2f3c;
  margin-bottom: 0;
}
.section_banner_text {
  margin-top: 0.7em;
  font-family: "Hind", sans-serif;
  font-size: 0.9em;
  color: #bbbec9;
}
.section_banner_button {
  border: transparent;
  border-radius: 2px;
  padding: 10px 30px;
  background-color: #699900;
  font-weight: bold;
  color: white;
  margin: auto 0;
}

.footer {
  display: flex;
  align-items: center;
  background-color: #21232e;
  min-height: 30vh;
}
.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 50px 10% 0 10%;
  font-family: "Hind", sans-serif;
  color: #bbbec9;
}
.footer-wrap .footer_logo {
  display: flex;
  min-width: 33%;
}
.footer-wrap .footer_logo p {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin: 0% 0% 0% 2%;
  font-weight: bold;
  font-size: 1.1em;
  letter-spacing: 1px;
}
.footer-wrap .footer_logo p span {
  font-weight: normal;
  font-size: 0.6em;
  letter-spacing: normal;
}
.footer-wrap p {
  min-width: 33%;
}
.footer-cr {
  min-width: 33%;
  text-align: end;
}
