$font-color-primary: white;
$font-family-secondary: 'Fresca', sans-serif;
$bg-highlight-color: #ff4e33;
$bg-image: url(../img/m-h-night.jpg);
$bg-gradient: linear-gradient(
  90deg,
  rgba(221, 163, 5, 1) 0%,
  rgba(148, 47, 80, 1) 100%
);
$bg-primary-color: #21232e;
$bg-card-color: #3b3f50;
$button-bg-color: #e3ac00;
$link-login-color: white;
$link-cards-color: #bbbec9;