$font-color-primary: #2c2f3c;
$font-family-secondary: 'Hind', sans-serif;
$bg-highlight-color: #14a0c7;
$bg-image: url(../img/m-h-day.jpg);
$bg-gradient: linear-gradient(
  90deg,
  rgba(102, 150, 9, 1) 0%,
  rgba(46, 92, 212, 1) 100%
);
$bg-primary-color: white;
$bg-card-color: #21232e;
$button-bg-color: #699900;
$link-login-color: white;
$link-cards-color: #bbbec9;
